In [ ]:
Q1. What is a database? Differentiate between SQL and NoSQL databases.
Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.
Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.
Q4. What is DQL? Explain SELECT with an example.
Q5. Explain Primary Key and Foreign Key.
Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
# Ans 1:
'''
A database is a software system designed to store and manage large amounts of data in an organized manner. 
It provides a way to store, retrieve, update, and delete data efficiently and securely.

SQL (Structured Query Language) and NoSQL (Not Only SQL) are two different types of database management systems.
'''
# SQL databases:

'''
* Use structured tables to store data with predefined schema.
* Have strong consistency and enforce ACID (Atomicity, Consistency, Isolation, Durability) properties.
* Require data to be normalized to minimize redundancy and ensure data integrity.
* Scale vertically (by adding more hardware resources to a single server) rather than horizontally.
* Use SQL as a standard language for querying and manipulating data.
* Good for applications with complex queries, transactions, and relationships between data.
'''

# NoSQL databases:
'''
* Use flexible data models (such as document, key-value, graph) to store data with dynamic schema.
* Have eventual consistency and often sacrifice ACID properties for performance and scalability.
* Allow data to be denormalized and duplicated for faster access and higher availability.
* Scale horizontally (by adding more servers to a distributed system) rather than vertically.
* Use various query languages and APIs depending on the data model and use case.
* Good for applications with high volume, velocity, and variety of data, and simpler queries.
'''

In [ ]:
# Ans 2:
'''
DDL (Data Definition Language) is a set of SQL commands used to define and manage the structure of a database.

# CREATE : It is used to create new database objects, such as tables, indexes, and views. 
           For example, "CREATE TABLE Customers (id INT, name VARCHAR(50), email VARCHAR(50))" creates a new table named Customers with three columns.

# DROP  : It is used to remove existing database objects, such as tables, indexes, and views. 
          For example, "DROP TABLE Customers" removes the Customers table from the database.

# ALTER : It is used to modify the structure of existing database objects, such as tables, columns, and constraints.
          For example, "ALTER TABLE Customers ADD phone VARCHAR(20)" adds a new column named phone to the Customers table.

# TRUNCATE: It is used to remove all data from a table, while keeping its structure intact. 
            For example, "TRUNCATE TABLE Customers" removes all rows from the Customers table, but leaves its columns and constraints unchanged.
'''

In [ ]:
# Ans 3:
'''
DML (Data Manipulation Language) is a set of SQL commands used to manipulate the data stored in a database.

# INSERT : It is used to add new data into a table. 
           For example, "INSERT INTO Customers (id, name, email) VALUES (1, 'John Smith', 'john@example.com')" adds a new row into the Customers table with the specified values.

# UPDATE : It is used to modify existing data in a table. 
           For example, "UPDATE Customers SET email = 'john.smith@example.com' WHERE id = 1" changes the email address of the customer with ID 1 to the new value.

# DELETE : It is used to remove existing data from a table. 
           For example, "DELETE FROM Customers WHERE id = 1" removes the row corresponding to the customer with ID 1 from the Customers table.
'''

In [ ]:
# Ans 4:
'''
DQL (Data Query Language) is a set of SQL commands used to retrieve data from a database.

SELECT is used to retrieve data from one or more tables based on specified conditions. 

For example:
"SELECT name, email FROM Customers WHERE id = 1" 
It retrieves the name and email columns from the Customers table for the customer with ID 1. 
The WHERE clause is used to filter the rows based on the specified condition. 
The result of the SELECT statement is a set of rows that match the condition, which can be further sorted, grouped, and aggregated using other SQL clauses.
'''

In [ ]:
# Ans 5:
'''
# Primary Key: 
>> A primary key is a column or a set of columns in a database table that uniquely identifies each row. 
>> It is used to enforce data integrity and ensure that no two rows have the same values for the primary key columns.
>> A primary key can be defined using the SQL constraint PRIMARY KEY.

# Foreign Key:
>> A foreign key is a column or a set of columns in a database table that refers to the primary key of another table. 
>> It establishes a relationship between two tables based on a shared key. 
>> The foreign key constraint ensures that the values in the referencing column(s) must match the values in the referenced column(s), or be null.
'''

In [ ]:
# Ans 6:
# The cursor() method creates a cursor object that allows you to execute SQL statements against the database. 
# The execute() method is used to execute a SQL query or command.


import mysql.connector

# Connect to the database
mydb = mysql.connector.connect(
  host="localhost",
  user="username",
  password="password",
  database="mydatabase"
)

# Create a cursor object
mycursor = mydb.cursor()

# Execute a SQL query
mycursor.execute("SELECT * FROM customers")

# Fetch the result set
result = mycursor.fetchall()

# Print the result set
for row in result:
  print(row)

In [ ]:
# Ans 7:
'''
The order of execution of SQL clauses in an SQL query is:

1. FROM clause: specifies the table(s) to retrieve data from.
2. JOIN clause: combines data from multiple tables into a single result set.
3. WHERE clause: filters the rows in the result set based on a specified condition.
4. GROUP BY clause: groups the rows in the result set by one or more columns.
5. HAVING clause: filters the groups in the result set based on a specified condition.
6. SELECT clause: specifies the columns to retrieve from the result set.
7. DISTINCT clause: removes duplicates from the result set.
8. ORDER BY clause: sorts the rows in the result set based on one or more columns.
9. LIMIT clause: limits the number of rows in the result set to a specified number.

Note that not all clauses are required in every SQL query.
Some clauses can appear in a different order depending on the specific requirements of the query.
'''