In [ ]:
Q1. Create a Pandas Series that contains the following data: 4, 8, 15, 16, 23, and 42. Then, print the series.
Q2. Create a variable of list type containing 10 elements in it, and apply pandas.Series function on the
variable print it.

Q3. Create a Pandas DataFrame that contains the following data:
    Name | Age | Gender
    Alice| 25  | Female
    Bob  | 30  | Male
    Clair| 27  | Female

Then, print the DataFrame.

Q4. What is ‘DataFrame’ in pandas and how is it different from pandas.series? Explain with an example.
Q5. What are some common functions you can use to manipulate data in a Pandas DataFrame? Can
you give an example of when you might use one of these functions?
Q6. Which of the following is mutable in nature Series, DataFrame, Panel?
Q7. Create a DataFrame using multiple Series. Explain with an example.

In [1]:
import pandas as pd

In [11]:
pip install pandas

Requirement already satisfied: pandas in /opt/conda/lib/python3.10/site-packages (1.5.2)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas) (2022.6)
Requirement already satisfied: numpy>=1.21.0 in /opt/conda/lib/python3.10/site-packages (from pandas) (1.23.5)
Requirement already satisfied: six>=1.5 in /opt/conda/lib/python3.10/site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [9]:
# Sol 1:
l1 = [4,8,15,16,23,42]
df = pd.Series(l1)
print(df)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [16]:
# Sol 2:
l2 = [1,2,3,4,5,'suharsh',7.7,8,9,10]
# type(l2)
# len(l2)

pds1 = pd.Series(l2)
print(pds1)

0          1
1          2
2          3
3          4
4          5
5    suharsh
6        7.7
7          8
8          9
9         10
dtype: object

In [19]:
# Sol 3:
data1 = {'Name':['Alice','Bob','Claire'],
         'Age':[25,30,27],
         'Gender':['Female','Male','Female']
}
df1 = pd.DataFrame(data1)
print(df1)

     Name  Age  Gender
0   Alice   25  Female
1     Bob   30    Male
2  Claire   27  Female

In [21]:
# Sol 4:
'''
DATAFRAME:
>> A DataFrame is a 2-dimensional data structure in Pandas.
>> A DataFrame is composed of multiple Series objects arranged in a tabular fashion.
>> Each column of a DataFrame can have a different data type.
>> A DataFrame is similar to a spreadsheet or a SQL table.
>> A DataFrame can be created from various sources, such as a CSV file, a SQL database, or a Python dictionary.
>> A DataFrame can be accessed and manipulated using various methods, such as indexing, slicing, merging, filtering, and aggregating.
>> DataFrame is suitable for handling large datasets with multiple variables.

While, Series:
>> A Series is a one-dimensional data structure in Pandas.
>> Series can contain any data type.
>> Series is typically created from a single column of a DataFrame or from a Python list or dictionary.
>> Series can be accessed and manipulated using various methods, such as indexing, slicing, filtering, and aggregating.
>> Series is suitable for handling small to medium-sized datasets with a single variable.
'''
# for example : Series v/s DataFrame

# Create a dictionary of data
data = {'Name': ['Alice', 'Bob', 'Charlie', 'Dave'],
        'Age': [25, 30, 35, 40],
        'Country': ['USA', 'Canada', 'UK', 'Australia']}

# Create a DataFrame from the dictionary
df = pd.DataFrame(data)

# Create a Series from the 'Age' column of the DataFrame
ages = df['Age']

# Print the DataFrame and Series
print(df)
print(ages)

      Name  Age    Country
0    Alice   25        USA
1      Bob   30     Canada
2  Charlie   35         UK
3     Dave   40  Australia
0    25
1    30
2    35
3    40
Name: Age, dtype: int64

In [24]:
# Printing Datatypes:
data_types = [type(df),type(ages)]
print(data_types)

[<class 'pandas.core.frame.DataFrame'>, <class 'pandas.core.series.Series'>]

In [9]:
# Sol 5:

'''
Pandas has numerous functions to manipulate data in a DataFrame, 
including drop, fillna, groupby, and merge. 
These functions can be used to remove irrelevant or missing data, handle missing values, group data, and merge data from different sources.

'''
# For example: 'merge()'
# merge: This function is used to combine two DataFrames into one based on one or more common columns.
# It takes two arguments: left and right, which are the DataFrames to merge, and on, which specifies the common column(s) to merge on. 
# We can also specify the type of join to use (inner, outer, left, or right) and how to handle duplicate column names (suffixes). 
# The result is a new DataFrame with the combined data.
import pandas as pd
data1 = {"id":['1','2','3'],
        "name":["Suharsh","raj","kumar"]
        }
df1 = pd.DataFrame(data1)

data2 = {"id":['1','2','3'],
         "course":["DSMasters","DSA","FullStack"]
        }
df2 = pd.DataFrame(data2)

# Merging the two DataFrames based on the common key 'id'
merged_data = pd.merge(df1, df2, on="id")

In [10]:
print(merged_data)

  id     name     course
0  1  Suharsh  DSMasters
1  2      raj        DSA
2  3    kumar  FullStack

In [ ]:
# Ans 6:
'''
In Pandas, Series and DataFrame are mutable in nature. 
This means that we can modify their content after they are created.

On the other hand, Panel is not as mutable as Series and DataFrame. 
Panel can be modified, but it is less flexible compared to Series and DataFrame. 
Moreover, Panel has been deprecated since version 1.0.0 and is no longer recommended for use in Pandas. 
Instead, it is recommended to use MultiIndex DataFrame, which is more flexible and powerful for handling complex data.
'''

In [13]:
# Sol 7:

# Creating multiple pandas 'series'
name = pd.Series(["Suharsh","Sudhanshu","Krish"])

course = pd.Series(["DSMasters","ML","AI"])

institute = pd.Series(["pwskills","iNeuron","iNeuron"])


# Merging them altogether in single DataFrame
dataframe1 = pd.DataFrame({'name':name,
                          'course':course,
                          'institute':institute
                          })
# Printing the dataframe values.
print(dataframe1)

        name     course institute
0    Suharsh  DSMasters  pwskills
1  Sudhanshu         ML   iNeuron
2      Krish         AI   iNeuron

In [ ]:
# Explanation of above code:
'''
This code creates three Pandas Series, namely name, course, and institute, with three elements each representing the name, course, and institute of three individuals.

The code then merges these three Series into a single DataFrame using the pd.DataFrame() constructor function. 
The dictionary passed to the constructor function contains the column names as keys and the respective Series as values. 
The resulting DataFrame has three columns - 'name', 'course', and 'institute' - and three rows representing the three individuals.

Finally, the print() function is used to display the contents of the DataFrame.
'''